
<mat-card>
  <mat-card-header>
    <div mat-card-avatar *ngIf="icon">
      <mat-icon>{{icon}}</mat-icon>
    </div>
    <span class="spacer"></span>
    <div>
      <mat-card-subtitle>{{title}}</mat-card-subtitle>
      <mat-card-title>{{count}}</mat-card-title>
    </div>
  </mat-card-header>

  <mat-card-content></mat-card-content>
</mat-card>
