mat-dialog-content {
  width: 500px;
  height: 350px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-top: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 10px;

}

.container-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
