.container {

  display: flex;
  flex-direction: column;
  margin: 20px;

}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-top: 8px;
}

.container-search {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-search {
  width: 70%;
  max-width: 650px;
  align-self: center;
  justify-content: space-between;
}

.container-search-action {
  display: flex;
  flex-direction: row;
  width: 70%;
  max-width: 650px;
  justify-content: flex-end;
}

mat-card {
  min-width: 800px;
  padding: 0px;
}

mat-action-row {
  justify-content: center;
}

table {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

/*
.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1){
  flex: 0 0 10%;
  padding-right: 10px;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2){
  flex: 0 0 40%;
}

.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3){
  flex: 0 0 20%;
}*/

