<mat-card-title>
  <div class="container-detail-toolbar">
    <mat-toolbar>
      <span>{{data.title || 'Evento'}}</span>
    </mat-toolbar>
    <mat-progress-bar class="dialog-detail-progressbar" mode="indeterminate"
                      *ngIf="inLoading"></mat-progress-bar>
  </div>
</mat-card-title>

<mat-dialog-content>
  <form [formGroup]="formGroup">
    <mat-tab-group>
      <mat-tab label="Dados">
        <div class="container">
          <mat-form-field>
            <input matInput type="text" placeholder="Nome" formControlName="name"
                   autocomplete="off" [readonly]="data.view">
            <mat-error *ngIf="formGroup.get('name').hasError('required')">Nome obrigatório</mat-error>
            <mat-error *ngIf="formGroup.get('name').hasError('minlength')">O nome deve ter entre 3 e 60 caracteres
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" placeholder="Descrição" formControlName="description"
                   utocomplete="off" [readonly]="data.view">
          </mat-form-field>

          <div style="display: flex; flex-direction: row; align-items: baseline">
            <mat-form-field>
              <mat-select placeholder="Tipo" formControlName="type" *ngIf="!data.view">
                <mat-option>--</mat-option>
                <mat-option value="WARNING">Atenção</mat-option>
                <mat-option value="INFORMATION">Informação</mat-option>
                <mat-option value="ERROR">Erro</mat-option>
                <mat-option value="FATAL">Fatal</mat-option>
              </mat-select>

              <input matInput type="text" placeholder="Tipo" [value]="getTypeDescription(event.type)" style="width: 100%"
                     autocomplete="off" readonly *ngIf="data.view">

            </mat-form-field>

            <mat-checkbox formControlName="allRules" style="padding-left: 10px;">Todas as regras devem ser válidas</mat-checkbox>
          </div>

          <div style="display: flex; flex-direction: row" *ngIf="false">
            <mat-form-field>
              <input matInput type="number" placeholder="Delay (Segundos)" formControlName="delay">
            </mat-form-field>
            <mat-form-field style="padding-left: 10px">
              <input matInput type="number" placeholder="Retry" formControlName="retry">
            </mat-form-field>
          </div>

          <mat-checkbox formControlName="state" value="1">Ativo</mat-checkbox>
        </div>
      </mat-tab>
      <mat-tab label="Regras">

        <div class="container">
          <div class="table-scroll">
            <table mat-table #table matSort [dataSource]="rulesDataSource" >

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
                <td mat-cell *matCellDef="let row">{{ row.name }}</td>
              </ng-container>

              <ng-container matColumnDef="actions">

                <th mat-header-cell *matHeaderCellDef style="width: 5px; justify-content: flex-end">
                  <button mat-icon-button (click)="addRule()" *ngIf="!data.view">
                    <mat-icon aria-label="novo">add</mat-icon>
                  </button>

                </th>

                <td mat-cell *matCellDef="let row; let i=index;">

                  <button mat-icon-button [matMenuTriggerFor]="appMenu" *ngIf="!data.view">
                    <mat-icon aria-label="mais">more_vert</mat-icon>
                  </button>

                  <mat-menu #appMenu="matMenu">

                    <button mat-menu-item (click)="deleteRule(row)">
                      <mat-icon aria-label="Delete">delete</mat-icon>
                      Excluir
                    </button>
                  </mat-menu>

                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="rulesDisplayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: rulesDisplayedColumns;" class="element-row"></tr>

            </table>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Ações" disabled="true">

        <div class="container">
          <div class="table-scroll">
          </div>
        </div>
      </mat-tab>

    </mat-tab-group>
  </form>
</mat-dialog-content>
<mat-dialog-actions style="justify-content: flex-end">
  <button mat-raised-button color="primary" (click)="onNoClick()" *ngIf="data.view">Ok</button>

  <button mat-button mat-dialog-close (click)="onNoClick()" *ngIf="!data.view">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSubmit()"
          [disabled]="formGroup.invalid || inLoading || rulesDataSource.data.length == 0"
          *ngIf="!data.view">
    Salvar
  </button>
</mat-dialog-actions>
