<mat-card-title>
  <div class="container-detail-toolbar">
    <mat-toolbar>
      <span>{{data.title || 'Usuário'}}</span>
    </mat-toolbar>
    <mat-progress-bar class="dialog-detail-progressbar"
                      mode="indeterminate"
                      *ngIf="configs.inLoading">
    </mat-progress-bar>
  </div>
</mat-card-title>

<mat-dialog-content>
  <form [formGroup]="formGroup">
    <div class="container">
      <mat-form-field>
        <input matInput type="text" placeholder="Nome" formControlName="name" autocomplete="off">
        <mat-error *ngIf="formGroup.get('name').hasError('required')">Nome obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Username" formControlName="username"
               autocomplete="off">
        <mat-error *ngIf="formGroup.get('username').hasError('required')">Username obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="!user.id">
        <input matInput type="password" placeholder="Senha" autocomplete="false" formControlName="password"
               [type]="configs.hidePassword ? 'password' : 'text'">
        <mat-icon matSuffix
                  (click)="configs.hidePassword = !configs.hidePassword">{{configs.hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="formGroup.get('password').hasError('required')">Senha obrigatória</mat-error>
        <mat-error *ngIf="formGroup.get('password').hasError('minlength')">A senha dever ter no mínimo 6 caracteres
        </mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="!user.id">
        <input matInput type="password" placeholder="Confirme a senha" autocomplete="false"
               [type]="configs.hidePassword ? 'password' : 'text'" formControlName="confirmPassword"
               (blur)="onValidatePassword()">
        <mat-error *ngIf="formGroup.get('confirmPassword').hasError('confirmPassword')">As senhas não conferem
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions style="justify-content: flex-end">
  <button mat-button mat-dialog-close (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSubmit()"
          [disabled]="formGroup.invalid || configs.inLoading || configs.inSaving">
    Salvar
  </button>
</mat-dialog-actions>
