<mat-card-title>
  <div class="container-detail-toolbar">
    <mat-toolbar>
      <span>{{data.title || 'Regra'}}</span>
    </mat-toolbar>
    <mat-progress-bar class="dialog-detail-progressbar" mode="indeterminate"
                      *ngIf="inLoading"></mat-progress-bar>
  </div>
</mat-card-title>

<mat-dialog-content>
  <form [formGroup]="formGroup">
    <mat-tab-group>
      <mat-tab label="Dados">
        <div class="container">
          <mat-form-field>
            <input matInput type="text" placeholder="Nome" formControlName="name" autocomplete="off" [readonly]="data.view">
            <mat-error *ngIf="formGroup.get('name').hasError('required')">Nome obrigatório</mat-error>
            <mat-error *ngIf="formGroup.get('name').hasError('minlength')">O nome deve ter entre 3 e 60 caracteres
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" placeholder="Descrição" formControlName="description"
                   autocomplete="off" [readonly]="data.view">
          </mat-form-field>
          <mat-checkbox formControlName="state" value="1">Ativo</mat-checkbox>
        </div>
      </mat-tab>
      <mat-tab label="Condições">

        <div class="container">
          <div class="table-scroll">
            <table mat-table matSort [dataSource]="dataSource" class="mat-cell" disabled="true">

              <ng-container matColumnDef="andOr">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>E/Ou</th>
                <td mat-cell *matCellDef="let row" style="padding-right: 10px;">
                  <mat-select [value]="row.andOr" *ngIf="row.type === 0"
                              (selectionChange)="changeGroupCondition(row)"
                              [disabled]="data.view"
                              style="width: 40px">
                    <mat-option value="and">E</mat-option>
                    <mat-option value="or">Ou</mat-option>
                  </mat-select>
                </td>
              </ng-container>

              <ng-container matColumnDef="expression">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Expressão</th>
                <td mat-cell *matCellDef="let row">
                 <!-- <app-rule-condition [condition]="row"></app-rule-condition>-->
                  <mat-chip-list>
                    <mat-chip *ngIf="!row.conditions"
                              [selectable]="true"
                              [removable]="!data.view"
                              (dblclick)="edit(row)"
                              style="cursor: Pointer;">
                      {{getExpression(row)}}
                      <mat-icon matChipRemove (click)="delete(row)" *ngIf="!data.view && !isGroupOrMessage(row)">cancel</mat-icon>
                    </mat-chip>

                    <mat-chip *ngFor="let condition of row.conditions"
                              [selectable]="true"
                              [removable]="!data.view"
                              (dblclick)="edit(condition, row)"
                              style="margin-top: 10px; margin-bottom: 10px; cursor: Pointer;">
                      {{getExpression(condition)}}
                      <mat-icon matChipRemove (click)="delete(condition, row)"
                        *ngIf="!data.view && (condition.order != 0 && row.conditions.length > 1)">cancel</mat-icon>
                    </mat-chip>
                  </mat-chip-list>
                </td>
              </ng-container>

              <ng-container matColumnDef="actions">

                <th mat-header-cell *matHeaderCellDef style="width: 5px; justify-content: flex-end">
                  <button mat-icon-button [matMenuTriggerFor]="appMenuAdd" *ngIf="!data.view">
                    <mat-icon aria-label="novo">add</mat-icon>
                  </button>

                  <mat-menu #appMenuAdd="matMenu">
                    <button mat-menu-item (click)="searchMessage()" [disabled]="existsMessage">
                      Mensagem
                    </button>
                    <button mat-menu-item (click)="addMessageFieldCondition()" [disabled]="!existsMessage">
                      Campo
                    </button>
                    <mat-divider></mat-divider>
                    <button mat-menu-item (click)="addGroupCondition()"  [disabled]="!existsMessage">
                      Agrupar condições
                    </button>
                  </mat-menu>
                </th>

                <td mat-cell *matCellDef="let row;">

                  <button mat-icon-button [matMenuTriggerFor]="appMenu" *ngIf="row.type !== 1 && !data.view">
                    <mat-icon aria-label="mais">more_vert</mat-icon>
                  </button>

                  <mat-menu #appMenu="matMenu">
                    <button mat-menu-item [disabled]="row.type != 0" (click)="addMessageFieldCondition(row)">
                      <mat-icon>add</mat-icon>
                      Campo
                    </button>
                    <mat-divider></mat-divider>
                    <button mat-menu-item (click)="edit(row)" *ngIf="false">
                      <mat-icon aria-label="Edit">edit</mat-icon>
                      Alterar
                    </button>

                    <button mat-menu-item (click)="delete(row)">
                      <mat-icon aria-label="Delete">delete</mat-icon>
                      Excluir
                    </button>
                  </mat-menu>

                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>

            </table>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </form>
</mat-dialog-content>
<mat-dialog-actions style="justify-content: flex-end">
  <button mat-raised-button color="primary" (click)="onNoClick()" *ngIf="data.view">Ok</button>

  <button mat-button mat-dialog-close (click)="onNoClick()" *ngIf="!data.view">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSubmit()"
          [disabled]="formGroup.invalid || inLoading || dataSource.data.length == 0"
          *ngIf="!data.view">
    Salvar
  </button>
</mat-dialog-actions>
