<mat-card-title>
  <div class="container-detail-toolbar">
    <mat-toolbar>
      <span>{{data.title || 'Campo'}}</span>
    </mat-toolbar>
    <mat-progress-bar class="dialog-detail-progressbar" mode="indeterminate"
                      *ngIf="configs.inLoading"></mat-progress-bar>
  </div>
</mat-card-title>

<mat-dialog-content>
  <form #form="ngForm" [formGroup]="formGroup">
    <div class="container">
      <mat-form-field>
        <input matInput type="text" placeholder="Nome" formControlName="name" autocomplete="off">
        <mat-error *ngIf="formGroup.get('name').hasError('required')">Nome obrigatório</mat-error>
        <mat-error *ngIf="formGroup.get('name').hasError('minlength')">O nome deve ter entre 3 e 60 caracteres
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Descrição" formControlName="description" autocomplete="off">
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <mat-select placeholder="Tipo" formControlName="type" (selectionChange)="changeType()">
          <mat-option>--</mat-option>
          <mat-option value="BOOLEAN">boolean</mat-option>
          <mat-option value="NUMBER">number</mat-option>
          <mat-option value="STRING">string</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox formControlName="decimalPoint">Ponto decimal</mat-checkbox>
    </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions style="justify-content: flex-end">
  <button mat-button mat-dialog-close (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onOk()" [disabled]="formGroup.invalid || configs.inLoading">
    Confirmar
  </button>
</mat-dialog-actions>
