.login-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

mat-card {
  width: 400px;
  padding: 0;
}

table {
  width: 100%;

}

form {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-top: 8px;
}
