.container {

  display: flex;
  flex-direction: column;
  margin: 20px;

}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-top: 8px;
}

.container-search {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-search {
  width: 70%;
  max-width: 650px;
  align-self: center;
  justify-content: space-between;
}

.container-search-action {
  display: flex;
  flex-direction: row;
  width: 70%;
  max-width: 650px;
  justify-content: flex-end;
}

.options-result-container {
  display: flex;
  flex-direction: column;
  padding: 8px 24px 0;
  font-size: 20px;
}

.mat-slide-toggle {
  font-size: 14px;
  flex-grow: 1;
  margin-top: 8px;
}

.mat-chip-list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: -4px;
}

.mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
}

mat-action-row {
  justify-content: center;
}

mat-card {
  width: 100%;
  padding: 0px;
}

table {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

