<h1 mat-dialog-title>{{ data.title }}</h1>
<mat-dialog-content >{{ data.message }}</mat-dialog-content>
<mat-dialog-actions style="justify-content: flex-end">
  <button *ngIf="data.cancelButton === true" mat-button [mat-dialog-close]="false" cdkFocusInitial>{{data.secondaryButton || 'Não'}}</button>
  <button mat-button mat-dialog-close [mat-dialog-close]="true">{{data.primaryButton || 'Sim'}}</button>
</mat-dialog-actions>
