
<mat-card-title>
  <div class="container-detail-toolbar">
    <mat-toolbar>
      <span>Log</span>
      <span class="spacer"></span>
      <mat-spinner [diameter]="25" [strokeWidth]="2" *ngIf="configs.inLoading"></mat-spinner>
    </mat-toolbar>
    <mat-progress-bar class="dialog-detail-progressbar" mode="indeterminate" *ngIf="configs.inLoading"></mat-progress-bar>
  </div>
</mat-card-title>

<mat-dialog-content>
   <mat-tab-group>
      <mat-tab label="Dados">
        <div class="container">
          <mat-form-field>
            <input matInput type="text" placeholder="Nome" readonly [value]="messageLog?.message">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" placeholder="Data" readonly value="{{messageLog?.dateHour | date: 'dd/MM/yy HH:mm:ss'}}">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" placeholder="Componente" readonly value="{{messageLog?.component?.name}}">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" placeholder="Identificador" readonly value="{{messageLog?.identifier}}">
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab label="Mensagem">

        <div class="container">

          <div class="container-row" style="align-items: baseline; padding-top: 10px;" *ngIf="false">
            <mat-form-field floatPlaceholder="never" color="accent" style="width: 100%;">
              <input matInput  [formControl]="filter" placeholder="Filtro" autocomplete="off">
            </mat-form-field>
          </div>

          <div class="table-scroll">
            <table mat-table #table matSort [dataSource]="dataSource" class="mat-cell" disabled="true">

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Campo</th>
                <td mat-cell *matCellDef="let row">{{ row.name }}</td>
              </ng-container>

              <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor</th>
                <td mat-cell *matCellDef="let row">{{ row.value }}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>

            </table>
          </div>

        </div>
      </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions style="justify-content: flex-end">
  <button mat-raised-button color="primary" (click)="onSubmit()">Ok</button>
</mat-dialog-actions>
